@charset "UTF-8";

html {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
    
}

html, body {
    height: 100%;
}

div, html, body, nav, main, aside, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#linktransition {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 0;
    
}

#linktransition a {
    font-weight: bold;
    font-size: 15px;
    transition:  0.2s;
    padding-top: 0;
}
    
#linktransition a:hover {
    font-size:20px;
    
}

body {
    
    color: #000000;
    font-family: inherit;
    display: grid;
    grid-template-rows: min-content 100px auto 50px;
    grid-template-columns: auto 10px minmax(350px,1000px) auto;
    grid-template-areas:
        "nav      nav    nav    nav"
        "aside  aside main     main   "
        "aside  aside main     main   "
        "footer footer footer footer";
}
.header{
    color: rgb(145, 45, 112)!important;
    
}
#meny{
    display: none;
}
nav {
    grid-area: nav;
    position: sticky;
    top: 0;
}
.Rubriker{
    text-align: left!important;
    color: rgb(145, 45, 112)!important;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    gap: 2rem;
    text-align: center;
    background-color: black;
    justify-content: flex-start;
}


nav a {
    text-decoration: none;
    background-color: black;
   
}

a:link           { color: white } 
a:visited        { color: white } 
a:hover, a:focus { color: white }  
a:active{ 
    background-color: grey;
} 

nav a:hover, nav a:active {
    background-color: white;
    color: black;
}

#Krav {
    color: red;
}
main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    column-count: 2;
    margin-top: 50px;
    margin-right: 25px;
   
}

.Rubriker{
   
    text-align: center;
    font-family: inherit;
    color:black;
    font-size: 1.2rem
    
}
#navBild{
    max-width:350px;
    min-width: 100px;
    text-align: center;
    padding-top: 10px;
    
}
#gruppanalys{
    max-width:350px;
    min-width: 100px;
    text-align: center;
    padding-top: 10px;
}
img:hover{
    transform: scale(1.25);
}
aside {
    grid-area: aside;  
    background-color: rgba(141, 223, 178, 0.884);
    border: 1px solid black;
    padding: 1em;
    overflow: auto;
    
   
}
aside a{
    display: flex!important;
    flex-direction: row!important;
    text-align: center!important;
    gap: 0.5rem;
    height: 100%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    grid-area: footer;
    background-color:black;
    padding: 10px;
    color: white;
}
/* Media queries*/
@media screen and (max-width:1000px){
    aside{
        display: none;
    }
    main {
        column-count: 1;
    }
    nav ul { 
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 0.5rem;
        height: 100%;
        
        }
    
    
}

/* Media queries*/
@media screen and (max-width: 700px){
#meny{
    display: none;
}

body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto 5px minmax(350px,1000px) auto;
    grid-template-rows: min-content 100px auto 70px;
    grid-template-areas:
        ".nav nav"
        ".main main "
        ".main  main"
        ".footer footer";
}
aside{
    display: none;
}
nav ul { 
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    height: 100%;
    
    }

}

/* Media queries*/
@media screen and (max-width: 550px){
    img{
        display: none;
    }
    body {
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        grid-template-columns: auto 5px minmax(350px,1000px) auto;
        grid-template-rows: min-content 100px auto 70px;
        grid-template-areas:
            ".nav"
            "main"
            "main"
            "footer";
    }
    #menuicon{
        background-image: url(../img/menuicon.png);
        width: 24px;
        height: 24px;
        display: inline-block; 
        cursor: pointer;
        background-color: rgb(214, 206, 206);
        margin-top: 0px;
        
    }
    .Rubriker{
        text-align: center!important;
        color: rgb(145, 45, 112)!important;
    }
    #meny{
        display: none;
    }
    #meny ~ ul {
        display: none;

    }
    #meny:checked ~ ul {
        display: flex;

    }

    nav ul{
        background-color: black;
        text-align: center;
    }
    nav{
        background-color: black;
    }
   
}

